.bg-white {
    color: $white;

    a,
    input,
    input::placeholder {
        color: $white;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: white;
    }
}

.bg-blue {
    color: $blue;

    a,
    input,
    input::placeholder {
        color: $blue;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: $blue;
    }
}

.bg-tropicalBlue {
    color: $tropicalBlue;

    a,
    input,
    input::placeholder {
        color: $tropicalBlue;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: alBlue
    }
}

.bg-lightSlate {
    color: $lightSlate;

    a,
    input,
    input::placeholder {
        color: $lightSlate;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: Slate;
    }
}

.bg-orange {
    color: $orange;

    a,
    input,
    input::placeholder {
        color: $orange;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: range;
    }
}

.bg-yellow {
    color: $yellow;

    a,
    input,
    input::placeholder {
        color: $yellow;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: ellow;
    }
}

.bg-lgyellow {
    color: $lgyellow;

    a,
    input,
    input::placeholder {
        color: $lgyellow;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: ellow;
    }
}

.bg-marigold {
    color: $marigold;

    a,
    input,
    input::placeholder {
        color: $marigold;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: igold;
    }
}

.bg-pink {
    color: $pink;

    a,
    input,
    input::placeholder {
        color: $pink;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: $pink;
    }
}

.bg-paleMauve {
    color: $paleMauve;

    a,
    input,
    input::placeholder {
        color: $paleMauve;
    }

    .testimonial-carousel .owl-dots button.active span {
        background-color: Mauve;
    }
}

.text-orange {
    color: $orange;
}