//Color-Variable
$white: #ffffff;
$black: #000000;
$blk: #222222;

$blue: #1b38ce;
$tropicalBlue: #c6d9ff;
$lightSlate: #d0ffff;
$orange: #e84e1b;
$yellow: #f18b11;
$lgyellow: #fcc86c;
$marigold: #dfee62;
$pink: #ca63a1;
$paleMauve: #fbd0fd;

$fontPath: '../fonts';